MAX_THREAD_NUM=50
ALARM_TIME=25
SUCCESS_PREFIX=_SUCCESS.
DONE_FLAG=_done
TIMEOUT_FLAG=_timeout
HDFS_BASEDIR=/tmp
HDFS_FILE_SUFFIX=gz,lzo
CHECK_PERIOD=100
SECURITY.ENABLE=true
KEYTAB_FILE=/tmp/check.keytab
NAMENODE.PRINCIPAL=hadoop@EXAMPLE.COM
PRINCIPAL=hadoop@EXAMPLE.COM
TIMECHECKER_PROID=200000
PAAS_CHECKER_PROID=300000
MISSING_SOURCES_DIR=.missing
#{topic}.TIMEOUT_MINUTE=5